bleach==2.1.1
certifi==2017.11.5
chardet==3.0.4
cssselect==1.0.1
defusedxml==0.5.0
Django==1.11.28
django-extensions==1.9.7
django-registration-redux==1.8
django-tinymce==2.6.0
docopt==0.6.2
html5lib==1.0b10
idna==2.6
jedi==0.11.0
lxml==4.1.1
Markdown==2.6.9
msgpack-python==0.4.8
mysqlclient==1.3.12
oauthlib==2.0.6
olefile==0.44
parso==0.1.0
Pillow==4.3.0
prompt-toolkit==1.0.15
ptpython==0.41
Pygments==2.2.0
PyJWT==1.5.3
pyquery==1.3.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
retrying==1.3.3
scrapinghub==2.0.1
six==1.11.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
