<!doctype html>
<html lang="en-US">

{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/test.css">
  <meta name="viewport" content="width=device-width">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'images/og-main.png' %}" />
  <title>{% block title_block %} psbook progress {% endblock title_block %} - PSBook Progress</title>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      {% block header_block %}
        
      {% endblock header_block %}
      <ul class="menu">
        <li> <a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' user.username %}">My Progress</a></li>
          <li><a href="{% url 'update_info' %}">Update Info</a></li>
          <li><a href="{% url 'auth_logout' %}?next={{request.path}}">Logout ({{user.username}})</a>
        {% else %}
          <li><a href="{% url 'auth_login' %}">Login</a></li>
          <li><a href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}
      </ul>
    </header>
    <section>
      {% block section_block %}
        
      {% endblock section_block %}
    </section>
    <footer>
      <p><small>Developed by <a href="https://github.com/sjsakib" target="_blank">sjsakib</a></small></p>
    </footer>
  </div>
  <script src="/static/js/scale.fix.js"></script>
</body>

</html>