{% extends "progress/base.html" %}

{% load staticfiles %}

{% block title_block %}
  Help
{% endblock title_block %}

{% block section_block %}
  <h1>Help</h1>
  <h2>How to find the IDs?</h2>
  <h3>UVa</h3>
  <p>Go to <a href="https://uhunt.onlinejudge.org/">uHunt</a>, submit your username. You'll find your UVa ID in the URL.</p>
  <img src="{% static 'images/uva-scr-1.png' %}">
  <img src="{% static 'images/uva-scr-2.png' %}">
  <h3>Timus</h3>
  <p>Got to <a href="http://acm.timus.ru/authedit.aspx">Update your info</a>. Log in with your JUDGE_ID and password if necessary. And you'll find your ID in the url</p>
  <img src="{% static 'images/timus-scr.png' %}">
  <h3> LightOJ</h3>
  <p> Got to <a href="http://lightoj.com/volume_compare_userstat.php">this</a> page. Log in if necessary and here is your ID</p>
  <img src="{% static 'images/loj-scr.png' %}">
  <h3>Codeforces</h3>
  <p>For codeforces, you just need to provide your user handle</p>
{% endblock section_block %}