{% extends "progress/base.html" %}

{% block title_block %}
  Home
{% endblock title_block %}

{% block section_block %}
  <h1>Welcome To PSBook Progress </h1>
  <p> Here you can track your progress solving the book  <a href="">`সমস্যা ও সমাধান বই - ১`</a> You can also see who else is solving the problems. Sign up with facebook to get started today</p>
  <h2>Top 20</h2>
  <table>
    <thead>
      <tr>
        <th class='rank'>#</th>
        <th>Name</th>
        <th>Points</th>
        <th>Progress</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for usr in top_users %}
        <tr class="{% if user.pk == usr.user.pk %}highlight{%endif%}">
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'profile' usr.user.username %}">{{usr.get_name}}</a></td>
          <td>{{usr.points}}</td>
          <td>{{usr.get_progress}} %</td>
          <td>{{usr.last_updated}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock section_block %}