{% extends "progress/base.html" %}

{% load mytags %}

{% block title_block %}
  Home
{% endblock title_block %}

{% block section_block %}
  <h1>Welcome To PSBook Progress </h1>
  <p> Here you can track your progress solving the book  <a href="https://github.com/shanto86/problem-book-1-solutions" target="_blank">`সমস্যা ও সমাধান বই - ১`</a> You can also see who else is solving the problems. Register to get started now</p>
  <h2>Top 20</h2>
  <p><a href="{% url 'ranklist' 1 %}">Full Ranklist</a></p>
  {% show_users top_users user %}
  <h2> Recently Active</h2>
  {% show_users recently_active user %}
{% endblock section_block %}