{% extends "progress/base.html" %}

{% load staticfiles %}


{% block title_block %}
  Profile of {{profile.user.username}}
{% endblock title_block %}

{% block header_block %}
  {% if profile.picture %}
    <img src="{{profile.picture.url}}" class="profile">
  {% else %}
    <img src="{% static 'images/anonymous.png' %}" class="profile">
  {% endif %}
  <p class="info">
    {{profile.get_name}} </br>
    {% if profile.institute %} {{profile.institute}} </br> {% endif %}
    {% if profile.location %} {{profile.location}} <br/> {% endif %}
    <br/>
    Rank: {{profile.get_rank}} <br/>
    Points: {{profile.points}}<br/>
    Progress: {{profile.get_progress}} %<br/>
  </p>
{% endblock header_block %}

{% block section_block %}
  <h1> Progress of {{profile.get_name}}</h1>
  <p>
    {% if progile.last_updated %} Last updated {{profile.last_updated}} {% endif %}
    {{profile.status}}<br>
    <a href="{% url 'request' profile.user.username %}">Request Update</a>
  </p>
  <table>
    <thead>
      <tr>
        <th>Chapter Name</th>
        <th>Main</th>
        <th>Simple</th>
        <th>Easy</th>
        <th>Medium</th>
        <th>Hard</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for chapter in chapters %}
        <tr>
          <td>{{chapter.chapter.name}}</td>
          {% for part in chapter.parts %}
            <td>
              {% if part.all %}
                <a href="{% url 'show_problems' chapter.chapter.slug part.part profile.user.username %}" title="{{part.solved}} out of {{part.all}}">
                  <progress value="{{part.solved}}" max="{{part.all}}"></progress>
                </a>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock section_block %}