{% extends "progress/base.html" %}

{% load mytags %}

{% block title_block %}
  Ranklist
{% endblock title_block %}

{% block section_block %}
  <h1> Ranklist </h1>
  {% show_users users user %}
  {% if pages|length > 1 %}
    Pages
    {% for p in pages %}
      {% if forloop.counter != page %}
        <a href="{% url 'ranklist' forloop.counter %}">{{forloop.counter}}</a>
      {% else %}
        {{forloop.counter}}  
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock section_block %}