{% extends "progress/base.html" %}

{% block title_block %}
  Tips for {{problem.name}}
{% endblock title_block %}

{% block section_block %}
  <h1>Tips for {{problem.name}}</h1>

  {% for tip in tips %}
    <h2> Tip #{{forloop.counter}}</h2>
    <p>
      By <a href="{% url 'profile' tip.author.user.username %}">{{tip.author.get_name}}</a> <br>
      {{tip.time}}
      {% if user.is_authenticated and user.userprofile == tip.author %}
        (<a href="{% url 'delete_tip' tip.pk %}">delete</a>)
      {% endif %}
    </p>
    <hr>
    <p> {{tip.content|safe}} </p>
    <br>
    <br>
  {% endfor %}
  {% if user.is_authenticated %}
    <h2>Add a tip</h2>
    <form method="POST" action="{% url 'show_tips' problem.slug %}">
      {% csrf_token %}
      {{form.content}}
      <input type="submit" name="submit" value="submit">
    </form>
  {% else %}
    <p><a href="{% url 'auth_login'%}?next={{request.path}}">Login</a> or <a href="{% url 'registration_register' %}">register</a> to add a tip</p>
  {% endif %}
{% endblock section_block %}